.stylesNav{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;

}
.stylesNav>li{
    margin-left: 10px;
    margin-right: 10px;
}

.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    min-height: 100vh;
}