.stylesNav{
    display: flex;
    list-style-type: none;
    justify-content: center;
    width: max-content;

}
.stylesNav>li{
    margin-left: 10px;
    margin-right: 10px;
}
.header{
    width: 100%;
}
.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    min-height: 100vh;
}
