.bg-mic{
    background-image: url("../../img/rap-bg.png"); 
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.groups-liste
{
    text-align: center;
     
}
.groups-liste>p
{
    font-family: 'Chango', cursive;
    font-size: 50px; 
}
body{
    margin: 0px;
}   

.row{
    display: flex;
}
.row>div{
   
    float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  text-align: center;
  font-family: 'Viga', sans-serif;
}

